body, html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background: url(../img/page-bg.jpg) top center no-repeat #F9EEC2;
    background-size: cover;
    font-size: 62.5%;
}

.red-packet-wrap {
    position: fixed;
    width: 100%;
    height: 65%;
    bottom: 0;
    background: url(../img/red-packet.png) top center no-repeat;
    background-size: cover;
}

.col-xs-12 {
    padding: 0;
}

#click-red-packet-btn {
    display: block;
    text-align: center;
    width: 60%;
    margin: 70% 20% 0;
}

#be-dealer-btn {
    display: block;
    text-align: center;
    width: 60%;
    margin: 8% 20% 0;
    font-size: 1.8rem;
}

.awards-content {
    padding-top: 40%;
}

.awards-content h1 {
    font-size: 2.4rem;
    color: #fff;
    margin: 5px 0;
}

.awards-content h2, .awards-content h2 span {
    font-weight: bold;
    font-size: 3.2rem;
    color: #FFF540;
    margin: 5px 0;
}

.awards-content span {
    font-size: 1.2rem;
    color: #fff;
}

.form-wrap {
    background: #fff;
    border-radius: 6px;
    margin-top: 10%;
    padding-bottom: 20px;
}

.form-wrap h2 {
    font-weight: 300;
    font-size: 1.8rem;
    margin: 15px 0 5px;
}

.form-wrap p {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 1.2rem;
}

.form-wrap label {
    font-weight: 200;
    font-size: 1.2rem;
}

.select-phone {
    margin-top: 30px;
}

.select-phone li.divider {
    height: 1px;
    margin: 10px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #eee;
    width: 100%;
}

.select-phone img {
    width: 100px;
}

.select-phone .input-group {
    margin-bottom: 10px;
}

.select-phone p {
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 5px;
}

.select-phone img.black-color, .select-phone img.grey-color {
    display: none;
}

.select-phone p.phone-price {
    font-size: 1.6rem;
    font-weight: bold;
    color: red;
}

.select-phone a.color-btn {
    width: 45%;
    display: inline-block;
    font-size: 1.6rem;
    padding: 0.5rem 0;
    border: 2px solid #ccc;
    text-align: center;
    color: #666;
    text-decoration: none;
}

.select-phone a.color-btn.first-item {
    margin-right: 5%;
}

.select-phone a.color-btn.select-item {
    border: 2px solid red;
    color: red;
}

.select-phone p.phone-discount span {
    font-weight: bold;
    color: red;
}

.select-phone p.order-content {
    font-weight: 300;
}

.select-phone p.order-content span {
    font-weight: 600;
    padding: 0 0.5rem;
}

.success-wrap {
    margin-top: 40%;
}

h2.success-trip {
    font-size: 4.8rem;
}

.success-wrap p.lead {
    margin-top: 2rem;
    font-size: 1.8rem;
}